body {
    margin: 0;
    font-family: sans-serif;
    background: #8f1269;
    color: rgb(248, 95, 240);
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgb(187, 137, 179);
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    background: rgba(145, 7, 145, 0.568);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* SECTION */
section {
    padding: 50px 20px;
}

/* HERO */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image img {
    width: 200px;
    border-radius: 50%;
}

/* LIST */
ul li {
    background: rgba(146, 60, 132, 0.1);
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

/* CARDS */
.card {
    background: rgba(137, 15, 161, 0.1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

/* TIMELINE */
.timeline {
    border-left: 2px solid gray;
    margin-left: 20px;
}

.timeline-item {
    margin: 20px 0;
    padding-left: 30px;
    position: relative;
}

.timeline-icon {
    position: absolute;
    left: -15px;
    background: purple;
    padding: 8px;
    border-radius: 50%;
}

/* FORM */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* LIGHT MODE */
.light-mode {
    background: #c090b4;
    color: rgb(141, 25, 102);
}

.light-mode .container {
    background: rgb(245, 190, 240);
}